# EVALUACIÓN

1. Crear una matriz 20x20 de numeros aleatorios enteros entre 0 a 1000 y obtenga el máximo

In [13]:
x=np.random.randint(0,1000,(20,20))
x.max()

np.int64(998)

2. Crear una matriz 4x5 de numeros reales aleatorios entre 0 y 1

In [19]:
x=np.random.rand(4,5)
x

array([[0.12741995, 0.49529482, 0.07662931, 0.69120988, 0.71039754],
       [0.78102829, 0.802179  , 0.9707895 , 0.62250213, 0.73733008],
       [0.03782714, 0.11786916, 0.99904653, 0.27185086, 0.48153347],
       [0.74186678, 0.85296039, 0.89949018, 0.6765274 , 0.29441859]])

3. Crear una lista de 10 tuplas `(m,n)`; `m` es un numero aleatorio entero entre 1 y 100, `n` es un valor booleano que indica si `m` es divisible por 2 (`True`: Divisible, `False`: No divisible). Hacer esta operación en una sola linea de codigo.

In [31]:
a=[(int(i), int(i)%2==0) for i in np.random.randint(1,100,10)]
a

[(19, False),
 (98, True),
 (12, True),
 (76, True),
 (32, True),
 (19, False),
 (62, True),
 (55, False),
 (39, False),
 (37, False)]

4. Crear una lista de 10 tuplas `(c1,c2,h)` que representan a los 2 catetos y a la hipotenusa de un triangulo rectángulo. `c1` y `c2` son los catetos cuyos valores son números enteros aleatorios entre 1 y 10, respectivamente. La hipotenusa `h` se calculará acorde al teorema de pitágoras: $h=\sqrt{c_{1}^{2}+c_{2}^{2}}$ . Hacer esta operacion en una sola linea de código.

In [33]:
p=[(int(x), int(y), (int(x)**2+int(y)**2)**0.5) for x,y in zip(np.random.randint(1,11,10), np.random.randint(1,11,10))]
p

[(5, 3, 5.830951894845301),
 (10, 8, 12.806248474865697),
 (5, 8, 9.433981132056603),
 (7, 3, 7.615773105863909),
 (7, 4, 8.06225774829855),
 (7, 3, 7.615773105863909),
 (6, 10, 11.661903789690601),
 (9, 6, 10.816653826391969),
 (7, 8, 10.63014581273465),
 (8, 6, 10.0)]

5. Crear un diccionario cuyas claves sean los meses del año y sus valores la longitud de cada clave. Hacer esta operacion en una sola linea de código.

In [3]:
m={i: len(i) for i in ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio','agosto','setiembre', 'octubre', 'noviembre', 'diciembre']}
m

{'enero': 5,
 'febrero': 7,
 'marzo': 5,
 'abril': 5,
 'mayo': 4,
 'junio': 5,
 'julio': 5,
 'agosto': 6,
 'setiembre': 9,
 'octubre': 7,
 'noviembre': 9,
 'diciembre': 9}

6. Convertir el resultado del ejercicio 5 a una serie cuyos indices sean las claves del diccionario

In [4]:
import pandas as pd

In [5]:
s=pd.Series(m)
s

enero        5
febrero      7
marzo        5
abril        5
mayo         4
junio        5
julio        5
agosto       6
setiembre    9
octubre      7
noviembre    9
diciembre    9
dtype: int64

7. Convertir el resultado del ejercicio 5 a un dataframe, cuyos nombres de columnas sean `'mes'` y `'longitud'` respectivamente. En una sola linea de código.

In [6]:
d=pd.DataFrame(zip(m.keys(),m.values()),columns=['mes','longitud'])
d

          mes  longitud
0       enero         5
1     febrero         7
2       marzo         5
3       abril         5
4        mayo         4
5       junio         5
6       julio         5
7      agosto         6
8   setiembre         9
9     octubre         7
10  noviembre         9
11  diciembre         9

8. Añadir una columna denominada `'año'` al ejercicio 7 cuyos valores correspondan al año actual.

In [7]:
d['año']=2024
d

          mes  longitud   año
0       enero         5  2024
1     febrero         7  2024
2       marzo         5  2024
3       abril         5  2024
4        mayo         4  2024
5       junio         5  2024
6       julio         5  2024
7      agosto         6  2024
8   setiembre         9  2024
9     octubre         7  2024
10  noviembre         9  2024
11  diciembre         9  2024

9. A partir del ejercicio 8 filtre los registros cuya `'longitud'`sea menor o igual a 5.

In [8]:
d[d['longitud']<=5]

     mes  longitud   año
0  enero         5  2024
2  marzo         5  2024
3  abril         5  2024
4   mayo         4  2024
5  junio         5  2024
6  julio         5  2024

10. Explique brevemente en que consiste el análisis univariado y multivariado en un EDA:
    
    + Análisis univariado: Consiste en analizar cada una de las variables de un dataset por separado.
    + Análisis multivariado: Consiste en analizar distintas variables de un dataset de manera simultánea.

11. Explique la diferencia entre KPI y métrica:

`Métrica` es todo valor que sea medible numéricamente en un proceso o negocio, mientras que `KPI` corresponde a una métrica medible en base a un objetivo o meta y que tiene un alto impacto en el desempeño de la empresa u organización.

12. Se le pide construir un calendario desde el '11-09-2024' hasta el '11-09-2025', ¿qué función DAX utilizaría para este fin?

```powershell
CALENDAR('11-09-2024','11-09-2025')
```